.main{
    width: 100vw;
    height: calc(100vh - 25vh);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;    
    margin-top: 1em;
    text-align: left;

    gap: 1em;

    
}

.description{
    padding: 0 1em; 
    font-weight: 400;
    font-size: medium;
}



.button{
    
  
    margin-right: 0.7em;
    height: 2em;
    width: 6em;
    border: none;
    border-radius: 5px;
    background-color: var(--black);
    color: var(--white);
    font-weight: 400;
    font-size: small;
}

.buttons_flex{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}

.filter{
    padding-right: 1em;
}

.map{
    display: flex;
    height: 65vh;
    width: 95vw;
    background-color: black;
    justify-content: center;
}