.nav{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: flex-end;

    position:absolute;
    bottom: 0;


    width: 100vw;
    height: 7em;

    font-size: small;
    scroll-padding-bottom: 20em;

    background-color: var(--white);

}

.text{
    color: var(--black);
}

.text_current{
    color: var(--dark-green);
}

.nav_icon{
    height: 2.5em;
    width: 1.7em;
    background-color: var(--white);
    
}


.nav_icon_two{
    height: 2.5em;
    width: 2.1em;
    background-color: var(--white);
  
}

.svg{
   fill: var(--black); 
}

.svg_current{
    fill: var(--dark-green); 
}

.button_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0.5em;

    border: none;
    

    width: 15vw;
    height: 12vh;

}